header {
    background-color: #343a40;

    a {
        font-size: 25px;
        font-weight: bolder;
        color: white;
        text-decoration: none;
    }

    input {
        border-radius: 7px;
        border-style: none;
        height: 35px;
    }
}

footer {
    background-color: #343a40;
    color: white;
}